.App {
  text-align: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}
.display-container {
  margin-top: 50px;
}
.pagi-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 10px 0px;
  padding: 7px 20px;
  border-radius: 7px;
  border: 1px solid grey;
  width: 60%;
}
.button {
  display: flex;
  justify-content: center;
  width: 50px;
}
nav {
  display: flex;
  background-color: blueviolet;
  justify-content: center;
  margin-bottom: 20px;
  height: 40px;
  align-items: center;
}
ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.link-item {
  text-decoration: none;
  color: white;
  margin: 0px 10px;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
