.App {
  text-align: center;
  height: 100vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 10px;
}
.display-container {
  margin-top: 50px;
}
.pagi-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}
